.home_robot {
    background-color: lightblue;
    border-radius: 30px;
    padding: 20px;
    width: 220px;
}

div h2 {
    text-decoration: underline dashed;
    text-decoration-color: navy;
    text-underline-offset: 6px;
    width: 210px;
}